model:
  model_path : "gpt2"
  tokenizer_path: "gpt2"
  model_type : "ILQLModel"
  num_layers_unfrozen: -1

train:
  seq_length: 64
  batch_size: 128
  epochs: 10
  total_steps: 10000

  lr_init: 1.0e-4
  lr_target: 1.0e-4
  opt_betas: [0.9, 0.95]
  opt_eps: 1.0e-8
  weight_decay: 1.0e-6

  checkpoint_interval: 1000
  eval_interval: 64

  pipeline : "OfflinePipeline"
  orchestrator : "OfflineOrchestrator"
  seed: 1000

method:
  name: "ilqlconfig"
  tau: 0.7
  gamma: 0.99
  cql_scale: 0.1
  awac_scale: 1
  alpha: 0.005
  steps_for_target_q_sync: 1
  betas: [16]
  two_qs: true
