model:
  model_path : "gpt2"
  tokenizer_path: "gpt2"
  model_type : "AccelerateILQLModel"
  num_layers_unfrozen: -1

train:
  seq_length: 64
  batch_size: 128
  epochs: 10
  total_steps: 10000

  lr_ramp_steps: 100
  lr_decay_steps: 3366
  weight_decay: 1e-6
  learning_rate_init: 1e-4
  learning_rate_target: 1e-4
  opt_betas: [0.9, 0.95]

  checkpoint_interval: 1000
  eval_interval: 128

  pipeline : "OfflinePipeline"
  orchestrator : "OfflineOrchestrator"
  seed: 1000

method:
  name: "ilqlconfig"
  tau: 0.7
  gamma: 0.99
  cql_scale: 0.1
  awac_scale: 1
  alpha: 0.005
  steps_for_target_q_sync: 1
  betas: [16]
  two_qs: true
